.nav {
    position: relative;

    &__back-button {
        position: absolute;
        top: 28%;
        left: 17px;
        font-size: 24px;
    }
}

.image-container {
    height: 275px;
    width: 100%;
    
    & img {
        @include fade-in-animation(0.5s, forwards);
        width: 100%;
        height: 100%;
        opacity: 0;
        object-fit: cover;
    }
}

.menu-container {
    @include flex-container(center, center);
    flex-direction: column;
    height: 100%;
    max-width: 1055px;
    padding: 32px 17px;
    margin: -30px auto 0 auto;
    background-color: $grey-3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 2;

    & > *:not(.order-button) {
        width: 100%;
    }

    &__name {
        @include flex-container(space-between, center);
        @include fade-in-animation(0.6s, forwards);
        animation-delay: 0.6s;

        flex-direction: row;
        margin-bottom: 40px;
        opacity: 0;

        @include min-width(35em) {
            @include flex-container(center, center);
            gap: 20px;
        }

        h2 {
            @extend %title-styles;
        }

        label {
            cursor: pointer;
        }

        .heart {
            @extend %heart-checkbox-styles;
                
            input {

                & ~ svg path {
                    fill: none;
                    stroke: #000;
                }

                &:checked ~ svg path {
                    @include fill-animation(url("#paint0_linear_25368_712"));
                }

                &:not(:checked) ~ svg path {
                    @include unfill-animation();
                }
            }  
        }
    }

    .food-section {
        max-width: 604px;
        margin: 0 auto;

        h2 {
            position: relative;
            margin-bottom: 20px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 40px;
                height: 3px;
                background-color: $tertiary;
            }
        }

        .menu-item-card {
                @include box-shadow(4px, 15px, 0.10);
                @include flex-container(space-between, center);
                position: relative;
                width: 100%;
                padding: 15px;
                opacity: 0;
                border-radius: 15px;
                margin-bottom: 12px;
                background-color: #FFF;
                overflow: hidden;

                //animation
                @include order(1, 4);

                & > input[type="checkbox"] {
                    position: absolute;
                    top: -3px;
                    bottom: 0;
                    left: -4px;
                    right: 0;
                    z-index: 2;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    & ~ .menu-item-card__meal-check {
                        svg {
                                transform: rotate(359deg); 
                                transition: transform 300ms linear;
                        }
                    }
                }

                &__meal-check {
                    @include flex-container(center, center);
                    background-color: $tertiary;
                    height: 100%;
                }

                input[type="checkbox"]:checked ~ .menu-item-card__meal-check {
                    right: 0;

                    svg {  
                        transform: rotate(0);
                    }
                }

                input[type="checkbox"]:checked ~ .menu-item-card__info {
                    
                    .item-price {
                        padding-right: 60px !important;
                    }
                }

                &__meal-check {
                    position: absolute;
                    height: 100%;
                    right: -60px;
                    object-fit: cover;
                    transition: right linear 300ms;
                }

                &__info {
                    @include flex-container(space-between, flex-end);
                    flex: 1;

                    .item-text {
                        flex: 1;
                        width: 0;

                        &--text-wrap {
                            overflow-wrap: normal;
                        }

                        &--ellipsis {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        p {
                            font-size: 16px;
                            padding-bottom: 1px;

                            &:first-of-type {
                                font-weight: 600;
                                margin-bottom: 8px;
                            }
                        }
                    }

                    .item-price {
                        transition: padding linear 300ms;

                        p {
                            @include font-size-weight(16px, 600);
                        }
                    }
            
                }

                &:last-of-type {
                    margin-bottom: 20px;
                }
        }     
    }

    .order-button {
        @extend %gradient-button;
        width: 186px;
        margin: 20px 0;
    }
}