@mixin flex-container($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin min-width($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin box-shadow($vert, $blur, $opacity) {
    box-shadow: 0 $vert $blur 0 rgba(0, 0, 0, $opacity);
}

@mixin font-size-weight($size, $weight) {
  $font: (
    "size": $size,
    "weight": $weight
  );

  font-size: map-get($font, "size");
  font-weight: map-get($font, "weight");
}


@mixin slide-in-animation($duration, $delay) {
    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      50% {
        opacity: 0.5; 
        transform: translateY(25px); 
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    animation: slideIn $duration linear forwards $delay;
}

@mixin order($start, $end) {
    @for $i from $start through $end {
        &--order-#{$i} {
            @include slide-in-animation(0.5s, 0.1s + (0.2s * $i))
        }
    }
}

@mixin fill-animation($to-color) {
  @keyframes fillAnimation {
    0% {
      fill: none;
      stroke: #000;
      opacity: 1
    }

    50% {
      opacity: 0.2;
    }

    100% {
      stroke: none;
      fill: $to-color;
      opacity: 1;
    }
  }

  animation: fillAnimation 0.6s forwards;
}

@mixin unfill-animation() {
  @keyframes unfillAnimation {
    0% {
      fill: url("#paint0_linear_25368_712");
      stroke: #000;
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      stroke: #000;
      fill: none;
      opacity: 1;
    }
  }

  animation: unfillAnimation 0.6s forwards;
}

@mixin fade-in-animation($duration, $effect) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  animation: fadeIn $duration $effect;
}

@mixin fade-out-animation($duration) {
  @keyframes fadeOut {
    99% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      display: none
    }
  }

  animation: fadeOut $duration linear forwards;
}

@mixin spin-animation($duration) {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg)
    }
  }

  animation: spin $duration infinite linear;
}

@mixin enable-pointer-events($duration) {
  @keyframes enablePointerEvents {
    0% {
      pointer-events: none;
    }

    100% {
      pointer-events: all;
    }
  }

  animation: enablePointerEvents $duration linear forwards;
}