@mixin flex-container($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow($vert, $blur, $opacity) {
    box-shadow: 0 $vert $blur 0 rgba(0, 0, 0, $opacity);
}


@mixin slide-in-animation($duration, $delay) {
    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      50% {
        opacity: 0.5; 
        transform: translateY(25px); 
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    animation: slideIn $duration ease-in forwards $delay;
}

@mixin order($start, $end) {
    @for $i from $start through $end {
        &.order-#{$i} {
            @include slide-in-animation(0.8s, 0.2s + (0.2s * $i))
        }
    }
}