%title-styles {
    font-family: "Shrikland", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: #000;
}

%gradient-button {
    background: linear-gradient(to bottom, $secondary, $primary);
    color: #FFF;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 13px;
    letter-spacing: 1px;
}