@import "resets", "colours", "placeholders", "typography", "mixins";
@import "menu-pages";

main {
    font-family: $roboto;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 14px 0;
    width: 100%;
    @include box-shadow(2px, 4px, 0.15); 
    background-color: #FFF;

    &__title {
        @extend %title-styles;
        text-align: center;
    }
}

.location-section {
    @include flex-container(center, center); 
    color: $grey-1;
    background-color: $grey-2;
    padding: 12px 0;
    font-size: 14px;

    i {
        margin-right: 15px;
    }
}

.explore-section {
    @include flex-container(center, center);
    @extend %section-styles;
    background-color: $grey-3;
    line-height: 1.5;
    margin-bottom: 15px;

    & > *:not(:last-child) {
        margin-bottom: 18px;
    }

    h2 {
        @extend %h2-styles
    }

    p {
        font-size: 13px;
        color: $grey-1;
    }

    button {
        @include box-shadow(4px, 10px, 0.25);
        @extend %gradient-button;
        margin: 15px 0;
    }
}

.instructions-section {
    @include flex-container(center, center);
    @extend %section-styles;
    counter-reset: order;
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;

    @include min-width(60em) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        &:not(:last-child) {
            column-gap: 30px;
        }
    }

    .instructions-heading {
        @extend %h2-styles;
        align-self: flex-start;
        margin-bottom: 40px;

        @include min-width(60em) {
            grid-column: span 3;
            justify-self: flex-start;
        }
    }

    .instructions-card {
        @include flex-container(flex-start, center);
        @include box-shadow(4px, 15px, 0.15);
        @extend %instruction-card;

        @include min-width(60em) {
            align-self: flex-start;
            margin-left: 10px;
        }

        //animation
        @include order(1, 3);

        &::before {
            @include flex-container(center, center);
            content: counter(order);
            counter-increment: order;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $primary;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
            color: #FFF;
        }

        & i {
            color: $grey-4;
        }

        &__text {
            margin-left: 10px;
            align-self: flex-end;
            font-size: 0.9rem;
            font-weight: 600;
        }

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }
    }
}

.restaurants-section {
    @extend %section-styles;
    @include flex-container(center, center);
    max-width: 1086px;
    margin: 0 auto;

    @include min-width(60em) {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    background: $grey-2;

    &__heading {
        @extend %h2-styles;
        align-self: flex-start;

        @include min-width(60em) {
            grid-row: 1;
            grid-column: span 2;
            justify-self: start;
        }
    }

    .restaurant-card {
        @include flex-container(space-between, center);
        flex-direction: column;
        @include box-shadow(4px, 15px, 0.10);
        position: relative;
        width: 95%;
        margin: 20px auto;
        max-width: 490px;
        border-radius: 15px;

        &:nth-of-type(-n + 2)::before {
            content: "New";
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 3;
            background: $tertiary;
            padding: 7px 20px;
            color: $green-font;
            border-radius: 2px;
            @include box-shadow(2px, 4px, 0.15);
        }
        
        &:not(:last-of-type) {
            margin-bottom: 18px;
        }

        &__image-link {
            user-select: none;
            width: 100%;
            

            img {
                max-height: 200px;
                width: 100% !important;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
                
            }
        }

        &__info {
            @include flex-container(space-between, center);
            flex-direction: row;
            width: 100%;
            padding: 14px;

            .card-text {
                text-align: left;

                & a {
                    p {
                        @include font-size-weight(18px, 700);
                        margin-bottom: 5px;
                }
                    }

                & p {
                    @include font-size-weight(17px, 400);
                }
            }

            label {
                cursor: pointer;
            }

            .heart {
                @extend %heart-checkbox-styles;
                    
                input {

                    & ~ svg path {
                        fill: none;
                        stroke: #000;
                    }
                

                    @for $i from 1 through 4 {
                        &:checked + svg path:nth-child(#{$i}) {
                            @include fill-animation(url("#paint#{$i}_linear_25368_712"));
                        }
                    }

                    &:not(:checked) ~ svg path {
                        @include unfill-animation();
                    }
                }  
            }
        }
    }

    }

.footer {
    @extend %footer-styles;

    h2 {
        font-family: $shrikhand;
        color: #FFF;
        margin-bottom: 15px;
    }

    &__links {
        @include font-size-weight(13px, 500);
        font-family: $roboto;

        & > *:not(:last-child) {
            margin-bottom: 10px;
        }

        & div {
            @include flex-container(flex-start, center);
            &:first-of-type p {
                margin-left: 13px;
            }

            &:last-of-type p {
                margin-left: 8px;
            }
        }
    }
}